### Zopper Device Insurance Attach Analysis :- Data Cleaning

In [12]:
import pandas as pd
import os
df = pd.read_excel(r"C:\Users\giris\OneDrive\Documents\Jumbo_and_company_attach%.xlsx")

In [13]:
df.head()

      Branch               Store_Name   Dec   Nov   Oct   Sep   Aug
0  Delhi_Ncr      Delhi(Janakpuri) Br  0.23  0.17  0.16  0.25  0.24
1  Delhi_Ncr      Haryana(Gurgaon) Br  0.21  0.26  0.15  0.28  0.04
2  Delhi_Ncr     Up(Greater Noida) Br  0.25  0.36  0.30  0.41  0.43
3       Pune         Pune(Bhosari) Br  0.33  0.33  0.36  0.13  0.32
4    Gujarat  Ahmedabad(Maninagar) Br  0.19  0.11  0.14  0.21  0.17

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Branch      163 non-null    object
 1   Store_Name  163 non-null    object
 2   Dec         163 non-null    float64
 3   Nov         163 non-null    float64
 4   Oct         163 non-null    float64
 5   Sep         163 non-null    float64
 6   Aug         163 non-null    float64
dtypes: float64(5), object(2)
memory usage: 9.0+ KB

In [15]:
# reshaping the data
df = df.melt(
    id_vars=["Branch", "Store_Name"],
    value_vars=["Aug", "Sep", "Oct", "Nov", "Dec"],
    var_name="Month",
    value_name="Attach_Percentage"
)

df.head()

      Branch               Store_Name Month  Attach_Percentage
0  Delhi_Ncr      Delhi(Janakpuri) Br   Aug               0.24
1  Delhi_Ncr      Haryana(Gurgaon) Br   Aug               0.04
2  Delhi_Ncr     Up(Greater Noida) Br   Aug               0.43
3       Pune         Pune(Bhosari) Br   Aug               0.32
4    Gujarat  Ahmedabad(Maninagar) Br   Aug               0.17

In [17]:
# month ordering
month_order = ["Aug", "Sep", "Oct", "Nov", "Dec"]
df["Month"] = pd.Categorical(
    df["Month"],
    categories=month_order,
    ordered=True
)

In [18]:
df.shape

(815, 4)

In [20]:
# saving the data
output_path = "../data/processed/zopper_attach_Processed.csv"
df.to_csv(output_path, index=False)

**Conclusion**

The dataset was reshaped from a wide monthly format to a long, analysis-ready structure with one row per store per month. All attach percentage values were already numeric and required no missing value treatment. The resulting dataset ensures consistent month ordering and provides a standardized foundation for month-wise, branch-wise, and store-level performance analysis.