### Zopper Device Insurance Attach Analysis :- January Prediction Modelling

In [1]:
import pandas as pd
df = pd.read_excel("../data/raw/Jumbo_and_company_attach%.xlsx")

df.head()

      Branch               Store_Name   Dec   Nov   Oct   Sep   Aug
0  Delhi_Ncr      Delhi(Janakpuri) Br  0.23  0.17  0.16  0.25  0.24
1  Delhi_Ncr      Haryana(Gurgaon) Br  0.21  0.26  0.15  0.28  0.04
2  Delhi_Ncr     Up(Greater Noida) Br  0.25  0.36  0.30  0.41  0.43
3       Pune         Pune(Bhosari) Br  0.33  0.33  0.36  0.13  0.32
4    Gujarat  Ahmedabad(Maninagar) Br  0.19  0.11  0.14  0.21  0.17

In [2]:
# Predicting January attach percentage using weighted average of last three months
df["Jan_Predicted_Attach"] = (
    0.5 * df["Dec"] +
    0.3 * df["Nov"] +
    0.2 * df["Oct"]
)

In [3]:
# Saving relevant columns for January prediction
jan_prediction = df[["Branch", "Store_Name", "Jan_Predicted_Attach"]]

jan_prediction.head()

      Branch               Store_Name  Jan_Predicted_Attach
0  Delhi_Ncr      Delhi(Janakpuri) Br                 0.198
1  Delhi_Ncr      Haryana(Gurgaon) Br                 0.213
2  Delhi_Ncr     Up(Greater Noida) Br                 0.293
3       Pune         Pune(Bhosari) Br                 0.336
4    Gujarat  Ahmedabad(Maninagar) Br                 0.156

In [4]:
# Saving outputs
jan_prediction.to_csv("../outputs/january_attach_prediction.csv", index=False)

January attach rates are projected to remain broadly consistent with recent performance, with higher-performing stores continuing to show stronger insurance adoption compared to lower-performing locations.