### Zopper Device Insurance Attach Analysis :- Store Categorization

In [10]:
import pandas as pd

df = pd.read_csv("../data/processed/zopper_attach_processed.csv")

store_stats = (
    df
    .groupby(["Branch", "Store_Name"])["Attach_Percentage"]
    .agg(
        Avg_Attach="mean",
        Std_Dev="std"
    )
    .reset_index()
)

store_stats.head()

      Branch               Store_Name  Avg_Attach   Std_Dev
0  Delhi_Ncr       DELHI(ASHOK VIHAR)       0.064  0.087920
1  Delhi_Ncr     DELHI(KRISHNA NAGAR)       0.170  0.160468
2  Delhi_Ncr  DELHI(ROHINI Sector-16)       0.070  0.121244
3  Delhi_Ncr        Delhi(Budh Vihar)       0.390  0.112472
4  Delhi_Ncr            Delhi(Burari)       0.334  0.084143

**Categorizing store**

Rules:

High: Avg_Attach ≥ 0.40

Medium: 0.20 ≤ Avg_Attach < 0.40

Low: Avg_Attach < 0.20

Inactive: Avg_Attach = 0

In [11]:
def categorize_store(avg):
    if avg == 0:
        return "Inactive"
    elif avg >= 0.40:
        return "High"
    elif avg >= 0.20:
        return "Medium"
    else:
        return "Low"

store_stats["Category"] = store_stats["Avg_Attach"].apply(categorize_store)

store_stats.head()

      Branch               Store_Name  Avg_Attach   Std_Dev Category
0  Delhi_Ncr       DELHI(ASHOK VIHAR)       0.064  0.087920      Low
1  Delhi_Ncr     DELHI(KRISHNA NAGAR)       0.170  0.160468      Low
2  Delhi_Ncr  DELHI(ROHINI Sector-16)       0.070  0.121244      Low
3  Delhi_Ncr        Delhi(Budh Vihar)       0.390  0.112472   Medium
4  Delhi_Ncr            Delhi(Burari)       0.334  0.084143   Medium

In [ ]:
store_stats["Category"].value_counts()

Category
Low         95
Medium      58
Inactive     7
High         3
Name: count, dtype: int64

In [12]:
store_stats["Category"].value_counts()

Category
Low         95
Medium      58
Inactive     7
High         3
Name: count, dtype: int64

Stores were classified into high, medium, low, and inactive performance categories based on their average attach rates to enable targeted, store-specific improvement actions.